ul.menus {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    transition: color var(--transition), background(--transition);
    padding: 10px;
    &:hover {
      background: var(--secondary);
      color: var(--background);
    }
  }
}
