@keyframes image-show {
  from {
    max-width: 0vw;
    max-height: 0vh;
  }
  to {
    max-width: 80vw;
    max-height: 80vh;
  }
}
@keyframes lightbox-background {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes lightbox-title {
  from {
    color: transparent;
    text-shadow: transparent 0px 0px 0px;
  }
  to {
    color: white;
    text-shadow: black 2.5px 2.5px 7.5px;
  }
}

.image-container {
  display: block;
  .image {
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: lightbox-background 1s;
  background: rgba(0, 0, 0, 0.5);

  color: white;
  font-size: 1.25em;
  font-weight: bold;

  span {
    position: absolute;
    z-index: 1001;
    text-shadow: black 2.5px 2.5px 7.5px;
    animation: lightbox-title 1s;
  }

  span.close {
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
  }
  span.hint {
    top: 10px;
    font-size: 16px;
  }

  p {
    position: absolute;
    bottom: 50px;
    z-index: 1001;
    text-shadow: black 2.5px 2.5px 7.5px;

    animation: lightbox-title 1s;
  }

  img {
    position: absolute;

    max-width: 80vw;
    max-height: 80vh;

    z-index: 1000;
    box-shadow: 2.5px 2.5px 2.5px black;

    cursor: grab;

    animation: image-show 1s;
  }
}
