.list {
  :global(.ant-list-item) {
    width: 100%;
    display: block;
  }
}

.avatar {
  img {
    background: white;
  }
}

.corner {
  position: absolute;
  right: -40px;
  top: 20px;
  height: 2em;
  width: 150px;
  transform: rotateZ(45deg);
  color: white;
  background: orangered;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
