/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-space {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ant-space-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ant-space-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ant-space-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ant-space-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.ant-space-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.ant-space-rtl {
  direction: rtl;
}

.card___9K4fD .main___37CiN {
  padding: 20px;
}

.shadow___3qnRW {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___3qnRW.clickable___DBXT1:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___3qnRW.clickable___DBXT1:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___399j1 {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___399j1.clickable___DBXT1:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___399j1.clickable___DBXT1:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2dzAI {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2dzAI.clickable___DBXT1:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___2FuXU {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___2FuXU.clickable___DBXT1:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___zugSb {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}

.wrapper___1bhZE {
  width: 10em;
}
.wrapper___1bhZE .label___g_H8T {
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1bhZE .inner___2aaNo {
  display: inline-grid;
  width: 100%;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E.small___qG2QM {
  padding: 0px 10px;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E.middle___25bJf {
  padding: 5px 10px;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E.large___3rnHK {
  padding: 10 10px;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .prefix___1m70N {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .suffix___inZFY {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M {
  position: relative;
  z-index: 2;
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul {
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul li {
  cursor: pointer;
  padding: 10px;
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul li:hover {
  color: var(--background);
  background: var(--secondary);
}
.wrapper___1bhZE .inner___2aaNo.disabled {
  opacity: 0.5;
}
.wrapper___1bhZE .inner___2aaNo.disabled .select___1yw5M ul li {
  cursor: not-allowed;
}

.svg___3XNb- {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
}

.shadow___2_2YM {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___xe-ed {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2KFa- {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2KFa-.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___3v0Dz {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___3v0Dz.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___3tcHk {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.checkbox___CBQul {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox___CBQul .icon___3AVt0 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1em;
  color: var(--primary);
  border: 1px solid var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.checkbox___CBQul .text___2O84Q {
  margin-left: 1.5em;
}
.switch___3Fx-J {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 1em;
}
.switch___3Fx-J .icon___3AVt0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 20px);
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: auto;
  background: var(--primary);
  transition: background var(--transition-time), left var(--transition-time);
}
.switch___3Fx-J .text___2O84Q {
  margin-left: 0px;
  margin-right: 20px;
  transition: margin-left var(--transition-time), margin-right var(--transition-time);
}
.switch___3Fx-J.checked___aQGNW .icon___3AVt0 {
  left: 5px;
}
.switch___3Fx-J.checked___aQGNW .text___2O84Q {
  margin-left: 20px;
  margin-right: 0px;
}

.button___lgX0P {
  border: 0px;
  color: var(--primary);
  background: var(--background);
  outline: none;
  padding: 1em;
  line-height: 1em;
  cursor: pointer;
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
}
.button___lgX0P:hover {
  color: var(--primary);
}
.button___lgX0P:active {
  color: var(--primary);
}
.button___lgX0P.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.primary___35G1w {
  color: white;
  background: var(--primary);
}
.primary___35G1w.icon___2SEON {
  color: white;
}
.primary___35G1w:hover {
  color: white;
}
.primary___35G1w:active {
  color: white;
}
.icon___2SEON {
  color: var(--primary);
  padding: 0.5em;
}
.small___2NKVT {
  font-size: 0.75em;
}
.small___2NKVT.icon___2SEON {
  font-size: 1em;
}
.middle___1Wbbx {
  font-size: 1em;
}
.middle___1Wbbx.icon___2SEON {
  font-size: 1.25em;
}
.large___1jRjJ {
  font-size: 1.25em;
}
.large___1jRjJ.icon___2SEON {
  font-size: 1.5em;
}
.circle___2bbJ5 {
  border-radius: 100%;
}

