.post {
  :global(.post-content) {
    // margin-top: 16px;
    line-height: 2em;
    font-size: 1.1em;
    overflow-wrap: break-word;

    p {
      margin: 0;
      padding: 0.5em 0;
      overflow: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 24px;
      margin-bottom: 16px;
      font-weight: bolder;
      line-height: 1.25;
      word-break: break-all;
      &::before {
        content: '§';
        margin-right: 5px;
      }
      color: var(--color);
      transition: color var(--transition-time), border var(--transition-time);
    }
    h1 {
      padding-bottom: 0.3em;
      border-bottom: 1px solid var(--secondary);
      font-size: 2em;
    }
    h2 {
      padding-bottom: 0.3em;
      border-bottom: 1px solid var(--secondary);
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.35em;
    }
    h4 {
      font-size: 1.3em;
    }
    h5 {
      font-size: 1.25em;
    }
    h6 {
      font-size: 1.2em;
      color: 1px solid var(--secondary);
    }

    :global(.image) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      p,
      span {
        font-size: 0.8em;
        color: var(--color);
        transition: color var(--transition-time), border var(--transition-time);
      }
      img {
        max-width: 100%;
        max-height: 50vh;
        margin: auto;
      }
    }
    :global(.img-title) {
      font-size: 0.8em;
      color: var(--color);
      transition: color var(--transition-time), border var(--transition-time);
      display: block;
      text-align: center;
    }

    svg {
      margin: auto;
      display: block;
      max-width: 100% !important;
      height: auto !important;
      max-height: 75vh;
    }

    :global(.footnotes) hr {
      display: none;
    }

    dl {
      dd {
        text-indent: 2em;
      }
      dt {
        font-weight: bold;
      }
    }

    table {
      width: 100%;
      line-height: 1.5em;
      overflow: auto;
      display: block;
      thead {
        tr {
          font-weight: bold;
          border-bottom: 2.5px solid #e8e8e8;
          th {
            padding: 10px;
            &[align='left'] {
              text-align: left;
            }
            &[align='center'] {
              text-align: center;
            }
            &[align='right'] {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid #e8e8e8;
          td {
            padding: 10px;
          }
        }
      }
    }
  }
}

:global(.headimage) {
  margin-top: 16px;
  display: flex;
  img {
    max-width: 100%;
    max-height: 50vh;
    margin: auto;
  }
}

.center {
  :global(.ant-col) {
    text-align: center;
  }
}

:global(.ant-anchor-wrapper) {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  font-weight: bold;
  width: 250px;

  top: 50px;
  z-index: 5;
  transition: right 1s ease 0s, top 0.2s ease;

  overflow: visible;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);

  .button {
    width: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    text-align: center;
    margin: 2px;
    left: -40px;
    position: absolute;
    cursor: pointer;

    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
  }

  .anchors_content {
    max-height: calc(100vh - 150px);
    overflow: auto;
  }
}
