.button {
  border: 0px;
  color: var(--color);
  background: var(--background);
  outline: none;
  padding: 0.25em;
  line-height: 1em;
  cursor: pointer;
}

.primary {
  color: white;
  background: var(--primary);
}

.icon {
  color: var(--primary);
}

.small {
  font-size: 1em;
  width: 2em;
  height: 2em;
}

.middle {
  font-size: 1.25em;
  width: 2.25em;
  height: 2.25em;
}
.large {
  font-size: 1.5em;
  width: 2.5em;
  height: 2.5em;
}

.circle {
  border-radius: 100%;
}
