/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
}
.ant-pagination ul,
.ant-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ant-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}
.ant-pagination-total-text {
  display: inline-block;
  height: 32px;
  margin-right: 8px;
  line-height: 30px;
  vertical-align: middle;
}
.ant-pagination-item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ant-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: none;
  transition: none;
}
.ant-pagination-item a:hover {
  text-decoration: none;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #1890ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #1890ff;
}
.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
}
.ant-pagination-item-active a {
  color: #1890ff;
}
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #40a9ff;
}
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #40a9ff;
}
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  outline: 0;
}
.ant-pagination-jump-prev .ant-pagination-item-container,
.ant-pagination-jump-next .ant-pagination-item-container {
  position: relative;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #1890ff;
  font-size: 12px;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon-svg,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon-svg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  color: rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
  text-align: center;
  text-indent: 0.13em;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
.ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
.ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
.ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
  opacity: 1;
}
.ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
.ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
.ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
.ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
  opacity: 0;
}
.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  margin-right: 8px;
}
.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Arial;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-pagination-prev,
.ant-pagination-next {
  outline: 0;
}
.ant-pagination-prev a,
.ant-pagination-next a {
  color: rgba(0, 0, 0, 0.65);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  border-color: #40a9ff;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: block;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.ant-pagination-disabled,
.ant-pagination-disabled:hover,
.ant-pagination-disabled:focus {
  cursor: not-allowed;
}
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.ant-pagination-slash {
  margin: 0 10px 0 5px;
}
.ant-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .ant-pagination-options *::-ms-backdrop,
  .ant-pagination-options {
    vertical-align: top;
  }
}
.ant-pagination-options-size-changer.ant-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.ant-pagination-options-quick-jumper {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}
.ant-pagination-options-quick-jumper input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 50px;
  margin: 0 8px;
}
.ant-pagination-options-quick-jumper input::-moz-placeholder {
  opacity: 1;
}
.ant-pagination-options-quick-jumper input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.ant-pagination-options-quick-jumper input:-ms-input-placeholder {
  color: #bfbfbf;
}
.ant-pagination-options-quick-jumper input::-ms-input-placeholder {
  color: #bfbfbf;
}
.ant-pagination-options-quick-jumper input::placeholder {
  color: #bfbfbf;
}
.ant-pagination-options-quick-jumper input:-moz-placeholder-shown {
  text-overflow: ellipsis;
}
.ant-pagination-options-quick-jumper input:-ms-input-placeholder {
  text-overflow: ellipsis;
}
.ant-pagination-options-quick-jumper input:placeholder-shown {
  text-overflow: ellipsis;
}
.ant-pagination-options-quick-jumper input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.ant-pagination-options-quick-jumper input:focus,
.ant-pagination-options-quick-jumper input-focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.ant-pagination-options-quick-jumper input-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.ant-pagination-options-quick-jumper input-disabled:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
.ant-pagination-options-quick-jumper input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.ant-pagination-options-quick-jumper input[disabled]:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
textarea.ant-pagination-options-quick-jumper input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  -webkit-transition: all 0.3s, height 0s;
  transition: all 0.3s, height 0s;
}
.ant-pagination-options-quick-jumper input-lg {
  padding: 6.5px 11px;
  font-size: 16px;
}
.ant-pagination-options-quick-jumper input-sm {
  padding: 0px 7px;
}
.ant-pagination-simple .ant-pagination-prev,
.ant-pagination-simple .ant-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link::after,
.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.ant-pagination-simple .ant-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.ant-pagination-simple .ant-pagination-simple-pager input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.ant-pagination-simple .ant-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.ant-pagination.mini .ant-pagination-total-text,
.ant-pagination.mini .ant-pagination-simple-pager {
  height: 24px;
  line-height: 24px;
}
.ant-pagination.mini .ant-pagination-item {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 22px;
}
.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
  background: transparent;
  border-color: transparent;
}
.ant-pagination.mini .ant-pagination-prev,
.ant-pagination.mini .ant-pagination-next {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
}
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  background: transparent;
  border-color: transparent;
}
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link::after,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.ant-pagination.mini .ant-pagination-jump-prev,
.ant-pagination.mini .ant-pagination-jump-next {
  height: 24px;
  margin-right: 0;
  line-height: 24px;
}
.ant-pagination.mini .ant-pagination-options {
  margin-left: 2px;
}
.ant-pagination.mini .ant-pagination-options-size-changer {
  top: 0px;
}
.ant-pagination.mini .ant-pagination-options-quick-jumper {
  height: 24px;
  line-height: 24px;
}
.ant-pagination.mini .ant-pagination-options-quick-jumper input {
  padding: 0px 7px;
  width: 44px;
}
.ant-pagination.ant-pagination-disabled {
  cursor: not-allowed;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active a {
  color: #fff;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination.ant-pagination-disabled .ant-pagination-item-link:hover,
.ant-pagination.ant-pagination-disabled .ant-pagination-item-link:focus {
  color: rgba(0, 0, 0, 0.45);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
  opacity: 0;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .ant-pagination-item-after-jump-prev,
  .ant-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .ant-pagination-options {
    display: none;
  }
}
.ant-pagination-rtl {
  direction: rtl;
}
.ant-pagination-rtl .ant-pagination-total-text {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl .ant-pagination-item {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl .ant-pagination-prev,
.ant-pagination-rtl .ant-pagination-jump-prev,
.ant-pagination-rtl .ant-pagination-jump-next {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl .ant-pagination-slash {
  margin: 0 5px 0 10px;
}
.ant-pagination-rtl .ant-pagination-options {
  margin-right: 16px;
  margin-left: 0;
}
.ant-pagination-rtl .ant-pagination-options-size-changer.ant-select {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl.ant-pagination-simple .ant-pagination-simple-pager {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl.ant-pagination-simple .ant-pagination-simple-pager input {
  margin-right: 0;
  margin-left: 8px;
}
.ant-pagination-rtl.ant-pagination.mini .ant-pagination-options {
  margin-right: 2px;
  margin-left: 0;
}

.avatar___FhI1z {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  overflow: hidden;
  color: var(--color);
  transition: color var(--transition-time);
  position: relative;
}
.avatar___FhI1z img {
  width: 100%;
  height: 100%;
}
.avatar___FhI1z > :first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-space {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ant-space-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ant-space-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ant-space-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ant-space-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.ant-space-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.ant-space-rtl {
  direction: rtl;
}

.svg___3XNb- {
  width: 1em;
  height: 1em;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.button___lgX0P {
  display: inline-block;
  border: 0px;
  color: var(--primary);
  background: var(--background);
  outline: none;
  line-height: 1em;
  cursor: pointer;
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
}
.button___lgX0P:hover {
  color: var(--primary);
}
.button___lgX0P:active {
  color: var(--primary);
}
.button___lgX0P.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button___lgX0P .prefix___4rdfh {
  margin-right: 5px;
}
.button___lgX0P .suffix___205Uy {
  margin-left: 5px;
}
.primary___35G1w {
  color: white;
  background: var(--primary);
}
.primary___35G1w.icon___2SEON {
  color: white;
}
.primary___35G1w:hover {
  color: white;
}
.primary___35G1w:active {
  color: white;
}
.icon___2SEON {
  color: var(--primary);
}
.small___2NKVT {
  font-size: 0.75em;
  padding: 5px;
}
.middle___1Wbbx {
  font-size: 1em;
  padding: 7.5px;
}
.large___1jRjJ {
  font-size: 1.25em;
  padding: 10px;
}
.circle___2bbJ5 {
  border-radius: 100%;
}

.shadow___3qnRW {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___3qnRW.clickable___DBXT1:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___3qnRW.clickable___DBXT1:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___399j1 {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___399j1.clickable___DBXT1:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___399j1.clickable___DBXT1:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2dzAI {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2dzAI.clickable___DBXT1:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___2FuXU {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___2FuXU.clickable___DBXT1:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___zugSb {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}

.tag___CfNDX {
  height: 2em;
  overflow: hidden;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
  width: fit-content;
}

.color___2WBY8 {
  transition: color var(--transition-time);
  color: var(--color);
}
.color___2WBY8:hover {
  color: var(--color);
}
.color___2WBY8:active {
  color: var(--color);
}
.primary___a0AGn {
  transition: color var(--transition-time);
  color: var(--primary);
}
.primary___a0AGn:hover {
  color: var(--primary);
}
.primary___a0AGn:active {
  color: var(--primary);
}
.secondary___3qQjV {
  transition: color var(--transition-time);
  color: var(--secondary);
}
.secondary___3qQjV:hover {
  color: var(--secondary);
}
.secondary___3qQjV:active {
  color: var(--secondary);
}
.ellipsis___IDoKh {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.em75___3rJF8 {
  font-size: 0.75em;
}

.wrapper___1bhZE {
  width: 10em;
}
.wrapper___1bhZE .label___g_H8T {
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1bhZE .inner___2aaNo {
  display: inline-grid;
  width: 100%;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .prefix___1m70N {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .suffix___inZFY {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M {
  position: relative;
  z-index: 2;
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul {
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul li {
  cursor: pointer;
  padding: 10px;
}
.wrapper___1bhZE .inner___2aaNo .select___1yw5M ul li:hover {
  color: var(--background);
  background: var(--secondary);
}
.wrapper___1bhZE .inner___2aaNo.disabled {
  opacity: 0.5;
}
.wrapper___1bhZE .inner___2aaNo.disabled .select___1yw5M ul li {
  cursor: not-allowed;
}
.wrapper___1bhZE .hint___1xkfA {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM .inner___2aaNo .input___1wt3E {
  padding: 0px 10px;
}
.wrapper___1bhZE.middle___25bJf {
  font-size: 1em;
}
.wrapper___1bhZE.middle___25bJf .inner___2aaNo .input___1wt3E {
  padding: 5px 10px;
}
.wrapper___1bhZE.large___3rnHK {
  font-size: 1.25em;
}
.wrapper___1bhZE.large___3rnHK .inner___2aaNo .input___1wt3E {
  padding: 10 10px;
}

.shadow___2_2YM {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___xe-ed {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2KFa- {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2KFa-.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___3v0Dz {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___3v0Dz.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___3tcHk {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.checkbox___CBQul {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox___CBQul .icon___3AVt0 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1em;
  color: var(--primary);
  border: 1px solid var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.checkbox___CBQul .text___2O84Q {
  margin-left: 1.5em;
  display: inline;
}
.switch___3Fx-J {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 1em;
}
.switch___3Fx-J .icon___3AVt0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 20px);
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: auto;
  background: var(--primary);
  transition: background var(--transition-time), left var(--transition-time);
}
.switch___3Fx-J .text___2O84Q {
  margin-left: 0px;
  margin-right: 20px;
  transition: margin-left var(--transition-time), margin-right var(--transition-time);
}
.switch___3Fx-J.checked___aQGNW .icon___3AVt0 {
  left: 5px;
}
.switch___3Fx-J.checked___aQGNW .text___2O84Q {
  margin-left: 20px;
  margin-right: 0px;
}
.hint___2NQGe {
  margin-left: 1em;
  display: inline;
  font-size: 0.75em;
}

.wrapper___1-RAz {
  width: 10em;
}
.wrapper___1-RAz .label___3aYtc {
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1-RAz .inner___3AHwq {
  display: inline-grid;
  width: 100%;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
  padding: 10px;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1-RAz .inner___3AHwq.disabled {
  opacity: 0.5;
}
.wrapper___1-RAz .inner___3AHwq.disabled .select___3hi0Z ul li {
  cursor: not-allowed;
}
.wrapper___1-RAz .hint___182Ts {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad .inner___3AHwq .input___3Lmks {
  padding: 0px 10px;
}
.wrapper___1-RAz.middle___3jGil {
  font-size: 1em;
}
.wrapper___1-RAz.middle___3jGil .inner___3AHwq .input___3Lmks {
  padding: 5px 10px;
}
.wrapper___1-RAz.large___3avEW {
  font-size: 1.25em;
}
.wrapper___1-RAz.large___3avEW .inner___3AHwq .input___3Lmks {
  padding: 10 10px;
}

.radio___6TGUQ .option___2L9fx {
  cursor: pointer;
}
.radio___6TGUQ .option___2L9fx input {
  cursor: pointer;
  margin-right: 5px;
}

.success___2zBUL {
  color: green;
}
.warning___1o2-T {
  color: orange;
}
.error___1H5JC {
  color: red;
}
.info___11PxR {
  color: var(--secondary);
  transition: color var(transition-time);
}

