.wrapper {
  min-width: 10em;
  .inner {
    display: flex;
    align-items: center;

    &.top {
      flex-direction: column;
      .label {
        margin-left: 15px;
        margin-bottom: 5px;
      }
    }
    &.left {
      flex-direction: row;
      .label {
        margin-right: 5px;
      }
    }
    .label {
      flex: 0 0 auto;
      color: var(--color);
      background: var(--background);
      transition: color var(--transition-time), background var(--transition-time),
        box-shadow var(--transition-time);
    }
    .input {
      flex: 1 1 auto;
      width: 100%;
      width: 100%;
      color: var(--color);
      background: var(--background);
      transition: color var(--transition-time), background var(--transition-time),
        box-shadow var(--transition-time);
      border-radius: 20px;
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      .prefix,
      .suffix {
        line-height: 1em;
        margin: 0 0.5em;
      }

      input {
        width: 100%;
        outline-style: none;
        border: none;
        background: transparent;
        &::placeholder {
          color: var(--secondary);
          transition: color var(--transition-time);
        }
      }
    }

    &:global(.disabled) {
      opacity: 0.5;
      .select {
        ul {
          li {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .hint {
    font-size: 0.75em;
  }
  &.small {
    font-size: 0.75em;
    .inner .input {
      padding: 0px 10px;
    }
  }
  &.middle {
    font-size: 1em;
    .inner .input {
      padding: 5px 10px;
    }
  }
  &.large {
    font-size: 1.25em;
    .inner .input {
      padding: 10 10px;
    }
  }
  .transform {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    .transform_value {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
    .transform_icon {
      margin-left: 5px;
    }
  }
}

.select {
  //   position: relative;
  z-index: 2;
  min-width: 10em;
  ul {
    // position: absolute;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color);
    background: var(--background);
    transition: color var(--transition-time), background var(--transition-time),
      box-shadow var(--transition-time), opacity var(--transition-time),
      visibility var(--transition-time);

    li {
      cursor: pointer;
      padding: 10px;
      &:hover {
        color: var(--background);
        background: var(--secondary);
      }
    }
  }
}
