.svg___3XNb- {
  width: 1em;
  height: 1em;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.button___lgX0P {
  display: inline-block;
  border: 0px;
  color: var(--primary);
  background: var(--background);
  outline: none;
  line-height: 1em;
  cursor: pointer;
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
}
.button___lgX0P:hover {
  color: var(--primary);
}
.button___lgX0P:active {
  color: var(--primary);
}
.button___lgX0P.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button___lgX0P .prefix___4rdfh {
  margin-right: 5px;
}
.button___lgX0P .suffix___205Uy {
  margin-left: 5px;
}
.danger___2X_ZL {
  color: var(--error-color);
  background: var(--error-background);
}
.danger___2X_ZL:hover {
  color: var(--error-color);
}
.danger___2X_ZL.icon___2SEON,
.danger___2X_ZL.icon___2SEON:hover,
.danger___2X_ZL.icon___2SEON:active {
  color: var(--error-color);
}
.danger___2X_ZL.primary___35G1w {
  color: var(--error-background);
  background: var(--error-color);
}
.danger___2X_ZL.primary___35G1w:hover {
  color: var(--error-background);
}
.danger___2X_ZL.primary___35G1w.icon___2SEON,
.danger___2X_ZL.primary___35G1w.icon___2SEON:hover,
.danger___2X_ZL.primary___35G1w.icon___2SEON:active {
  color: var(--error-background);
}
.primary___35G1w {
  color: white;
  background: var(--primary);
}
.primary___35G1w.icon___2SEON {
  color: white;
}
.primary___35G1w:hover {
  color: white;
}
.primary___35G1w:active {
  color: white;
}
.icon___2SEON {
  color: var(--primary);
}
.small___2NKVT {
  font-size: 0.75em;
  padding: 5px;
}
.middle___1Wbbx {
  font-size: 1em;
  padding: 7.5px;
}
.large___1jRjJ {
  font-size: 1.25em;
  padding: 10px;
}
.circle___2bbJ5 {
  border-radius: 100%;
}

.popover___GFWRd {
  --popover-backgroud: red;
  position: absolute;
  top: -99999px;
  left: -99999px;
  z-index: 10;
  transition: opacity var(--transition-time), visibility var(--transition-time), color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
  opacity: 0;
  visibility: hidden;
}
.popover___GFWRd.show___OL_73 {
  opacity: 1;
  visibility: visible;
}
.popover___GFWRd.arrow___GXieH::after {
  content: '';
  border: 5px solid transparent;
  position: absolute;
  z-index: 99;
  transition: border var(--transition-time);
}
.popover___GFWRd.arrow___GXieH.top___2nnJ_::after {
  border-top: 5px solid var(--popover-backgroud);
  bottom: -10px;
  left: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.right___3i0GD::after {
  border-right: 5px solid var(--popover-backgroud);
  left: -10px;
  top: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.left___cmruL::after {
  border-left: 5px solid var(--popover-backgroud);
  right: -10px;
  top: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.bottom___35Co4::after {
  border-bottom: 5px solid var(--popover-backgroud);
  top: -10px;
  left: calc(50% - 5px);
}
.popover___GFWRd.card___1yaqd {
  --popover-backgroud: var(--background);
  background: var(--background);
  color: var(--color);
}
.popover_origin___3Y4uh {
  cursor: pointer;
}

.tooltip___3JDJV {
  color: white;
  background: black;
  --popover-backgroud: black;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 200px;
  word-break: break-all;
}

.color___2WBY8 {
  transition: color var(--transition-time);
  color: var(--color);
}
.color___2WBY8:hover {
  color: var(--color);
}
.color___2WBY8:active {
  color: var(--color);
}
.primary___a0AGn {
  transition: color var(--transition-time);
  color: var(--primary);
}
.primary___a0AGn:hover {
  color: var(--primary);
}
.primary___a0AGn:active {
  color: var(--primary);
}
.secondary___3qQjV {
  transition: color var(--transition-time);
  color: var(--secondary);
}
.secondary___3qQjV:hover {
  color: var(--secondary);
}
.secondary___3qQjV:active {
  color: var(--secondary);
}
.ellipsis___IDoKh {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.em75___3rJF8 {
  font-size: 0.75em;
}

.modal___1gOet {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dimmed___3KOL_ {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: dimmed-change___22gG- 0.5s 1 alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 3;
}

.wrapper___1bhZE {
  min-width: 10em;
}
.wrapper___1bhZE .inner___2aaNo {
  display: flex;
  align-items: center;
}
.wrapper___1bhZE .inner___2aaNo.top___jPEA1 {
  flex-direction: column;
}
.wrapper___1bhZE .inner___2aaNo.top___jPEA1 .label___g_H8T {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1bhZE .inner___2aaNo.left___r_GUG {
  flex-direction: row;
}
.wrapper___1bhZE .inner___2aaNo.left___r_GUG .label___g_H8T {
  margin-right: 5px;
}
.wrapper___1bhZE .inner___2aaNo .label___g_H8T {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E {
  flex: 1 1 auto;
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .prefix___1m70N,
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .suffix___inZFY {
  line-height: 1em;
  margin: 0 0.5em;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo.disabled {
  opacity: 0.5;
}
.wrapper___1bhZE .inner___2aaNo.disabled .select___1yw5M ul li {
  cursor: not-allowed;
}
.wrapper___1bhZE .hint___1xkfA {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM .inner___2aaNo .input___1wt3E {
  padding: 0px 10px;
}
.wrapper___1bhZE.middle___25bJf {
  font-size: 1em;
}
.wrapper___1bhZE.middle___25bJf .inner___2aaNo .input___1wt3E {
  padding: 5px 10px;
}
.wrapper___1bhZE.large___3rnHK {
  font-size: 1.25em;
}
.wrapper___1bhZE.large___3rnHK .inner___2aaNo .input___1wt3E {
  padding: 10 10px;
}
.wrapper___1bhZE .transform___2GmhC {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1bhZE .transform___2GmhC .transform_value___mmXMN {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.wrapper___1bhZE .transform___2GmhC .transform_icon___6VAG- {
  margin-left: 5px;
}
.select___1yw5M {
  z-index: 2;
  min-width: 10em;
}
.select___1yw5M ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}
.select___1yw5M ul li {
  cursor: pointer;
  padding: 10px;
}
.select___1yw5M ul li:hover {
  color: var(--background);
  background: var(--secondary);
}

.checkbox___CBQul {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox___CBQul .icon___3AVt0 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 0.5em;
  color: var(--primary);
  border: 1px solid var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.checkbox___CBQul .text___2O84Q {
  margin-left: 1.5em;
  display: inline;
}
.switch___3Fx-J {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 1em;
}
.switch___3Fx-J .icon___3AVt0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 20px);
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: auto;
  background: var(--primary);
  transition: background var(--transition-time), left var(--transition-time);
}
.switch___3Fx-J .text___2O84Q {
  margin-left: 0px;
  margin-right: 20px;
  transition: margin-left var(--transition-time), margin-right var(--transition-time);
}
.switch___3Fx-J.checked___aQGNW .icon___3AVt0 {
  left: 5px;
}
.switch___3Fx-J.checked___aQGNW .text___2O84Q {
  margin-left: 20px;
  margin-right: 0px;
}
.hint___2NQGe {
  margin-left: 1em;
  display: inline;
  font-size: 0.75em;
}

.wrapper___1-RAz {
  min-width: 10em;
  display: flex;
}
.wrapper___1-RAz.top___273ts {
  flex-direction: column;
  align-items: flex-start;
}
.wrapper___1-RAz.top___273ts .label___3aYtc {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1-RAz.left___2tTn4 {
  flex-direction: row;
  align-items: center;
}
.wrapper___1-RAz.left___2tTn4 .label___3aYtc {
  margin-right: 5px;
}
.wrapper___1-RAz .label___3aYtc {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1-RAz .inner___3AHwq {
  display: inline-grid;
  flex: 1 1 auto;
  width: 100%;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
  padding: 10px;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_value___1TUsg {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_icon___QsbLn {
  margin-left: 5px;
}
.wrapper___1-RAz .inner___3AHwq.disabled {
  opacity: 0.5;
}
.wrapper___1-RAz .inner___3AHwq.disabled .select___3hi0Z ul li {
  cursor: not-allowed;
}
.wrapper___1-RAz .hint___182Ts {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad .inner___3AHwq .input___3Lmks {
  padding: 0px 10px;
}
.wrapper___1-RAz.middle___3jGil {
  font-size: 1em;
}
.wrapper___1-RAz.middle___3jGil .inner___3AHwq .input___3Lmks {
  padding: 5px 10px;
}
.wrapper___1-RAz.large___3avEW {
  font-size: 1.25em;
}
.wrapper___1-RAz.large___3avEW .inner___3AHwq .input___3Lmks {
  padding: 10 10px;
}

.radio___6TGUQ .option___2L9fx {
  cursor: pointer;
}
.radio___6TGUQ .option___2L9fx input {
  cursor: pointer;
  margin-right: 5px;
}

.date_select___1P5hF .body___G1tpM {
  display: grid;
  grid-template-columns: repeat(7, 2em);
  grid-gap: 0.25em;
  text-align: center;
  vertical-align: center;
}
.date_select___1P5hF .body___G1tpM > div {
  box-sizing: border-box;
  line-height: 2em;
  width: 2em;
  height: 2em;
  transition: color var(--transition-time), background color var(--transition-time), border color var(--transition-time);
  cursor: pointer;
}
.date_select___1P5hF .body___G1tpM > div.disabled___2BWju {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.date_select___1P5hF .body___G1tpM > div:hover {
  line-height: calc(2em - 2px);
  border: 1px solid var(--color);
}
.date_select___1P5hF .body___G1tpM > div.active___1Kw_B {
  color: white;
  background: var(--primary);
}
.date_select___1P5hF .body___G1tpM > div.today___1m4PB {
  line-height: calc(2em - 2px);
  border: 1px solid var(--primary);
}
.month_select___1-Dv3 {
  display: grid;
  grid-template-columns: repeat(3, 3em);
  grid-gap: 0.25em;
  text-align: center;
  vertical-align: center;
}
.month_select___1-Dv3 > div {
  box-sizing: border-box;
  line-height: 3em;
  width: 3em;
  height: 3em;
  transition: color var(--transition-time), background color var(--transition-time), border color var(--transition-time);
  cursor: pointer;
}
.month_select___1-Dv3 > div:hover {
  line-height: calc(3em - 2px);
  border: 1px solid var(--color);
}
.month_select___1-Dv3 > div.active___1Kw_B {
  color: white;
  background: var(--primary);
}
.year_select___3aedh .body___G1tpM {
  display: grid;
  grid-template-columns: repeat(5, 4em);
  grid-gap: 0.25em;
  text-align: center;
  vertical-align: center;
}
.year_select___3aedh .body___G1tpM > div {
  box-sizing: border-box;
  line-height: 2em;
  width: 4em;
  height: 2em;
  transition: color var(--transition-time), background color var(--transition-time), border color var(--transition-time);
  cursor: pointer;
}
.year_select___3aedh .body___G1tpM > div:hover {
  line-height: calc(2em - 1px);
  border: 1px solid var(--color);
}
.year_select___3aedh .body___G1tpM > div.active___1Kw_B {
  color: white;
  background: var(--primary);
}

.upload___2hyPL {
  position: relative;
  width: 100%;
  min-height: 200px;
  border: 3px dashed var(--secondary);
  transition: border var(--transition-time);
}
.upload___2hyPL input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}
.upload___2hyPL .children___kLB2P {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.menus___3z00u {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menus___3z00u li {
  cursor: pointer;
  transition: color var(--transition), background(--transition);
  padding: 10px;
}
ul.menus___3z00u li:hover {
  background: var(--secondary);
  color: var(--background);
}

.success___2zBUL {
  color: green;
}
.warning___1o2-T {
  color: orange;
}
.error___1H5JC {
  color: red;
}
.info___11PxR {
  color: var(--secondary);
  transition: color var(transition-time);
}

.notification___3x11h {
  padding: 15px;
  transition: color var(--transition-time), background var(--transition-time), border var(--transition-time);
  word-break: break-word;
}
.notification___3x11h .icon___3NiV4 {
  font-size: 2.5em;
  text-align: center;
}
.notification___3x11h .title___RbwtL {
  font-weight: bold;
}
.notification___3x11h.info___2lNOv {
  color: var(--info-color);
  border: 1px solid var(--info-color);
  background: var(--info-background);
}
.notification___3x11h.error___3gkOT {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  background: var(--error-background);
}
.notification___3x11h.warning___1PtXV {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
  background: var(--warning-background);
}
.notification___3x11h.success___2GtiD {
  color: var(--success-color);
  border: 1px solid var(--success-color);
  background: var(--success-background);
}

.avatar___FhI1z {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  overflow: hidden;
  color: var(--color);
  transition: color var(--transition-time);
  position: relative;
}
.avatar___FhI1z img {
  width: 100%;
  height: 100%;
}
.avatar___FhI1z > :first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tag___CfNDX {
  height: 2em;
  overflow: hidden;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
  width: fit-content;
}

.image-container {
  display: block;
}
.image-container .image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes image-show___2Q2aL {
  from {
    max-width: 0vw;
    max-height: 0vh;
  }
  to {
    max-width: 80vw;
    max-height: 80vh;
  }
}
@keyframes lightbox-background___1kP16 {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes lightbox-title___2JHg4 {
  from {
    color: transparent;
    text-shadow: transparent 0px 0px 0px;
  }
  to {
    color: white;
    text-shadow: black 2.5px 2.5px 7.5px;
  }
}
.image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: lightbox-background___1kP16 1s;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.25em;
  font-weight: bold;
}
.image-lightbox span {
  position: absolute;
  z-index: 1001;
  text-shadow: black 2.5px 2.5px 7.5px;
  animation: lightbox-title___2JHg4 1s;
}
.image-lightbox span.close {
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}
.image-lightbox span.hint {
  top: 10px;
  font-size: 16px;
}
.image-lightbox p {
  position: absolute;
  bottom: 50px;
  z-index: 1001;
  text-shadow: black 2.5px 2.5px 7.5px;
  animation: lightbox-title___2JHg4 1s;
}
.image-lightbox img {
  position: absolute;
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1000;
  box-shadow: 2.5px 2.5px 2.5px black;
  cursor: grab;
  animation: image-show___2Q2aL 1s;
}

.wrapper___3SAyF {
  position: relative;
  min-height: 150px;
}
.wrapper___3SAyF .loading___1BGQ5 {
  display: none;
}
.wrapper___3SAyF.onloading___2-1qJ .inner___V82N8 {
  filter: blur(5px);
}
.wrapper___3SAyF.onloading___2-1qJ .loading___1BGQ5 {
  display: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper___3SAyF.onloading___2-1qJ .loading___1BGQ5 span {
  display: inline-block;
  width: 8px;
  height: 100%;
  margin: 5px;
  border-radius: 4px;
  background: lightgreen;
  -webkit-animation: load___2AHqz 1s ease infinite;
  animation: load___2AHqz 1s ease infinite;
}
@keyframes load___2AHqz {
  0%,
  100% {
    height: 40px;
    background: lightgreen;
  }
  50% {
    height: 70px;
    margin: -15px 0;
    background: lightblue;
  }
}

.anchor___1lC2j {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  right: 0;
  padding-right: 20px;
  top: 100px;
  width: fit-content;
  transition: opacity var(--transition-time), transform var(--transition-time);
  transform: translatex(100%);
}
.anchor___1lC2j.show___1VrKH {
  opacity: 0.5;
  transform: translatex(0);
}
.anchor___1lC2j.show___1VrKH:hover {
  opacity: 1;
}
.anchor___1lC2j.show___1VrKH .button___20FoV .icon___3Dd2f {
  transform: rotate(180deg);
}
.anchor___1lC2j .button___20FoV {
  top: 15px;
  position: absolute;
  transform: translateX(-150%);
}
.anchor___1lC2j .button___20FoV .icon___3Dd2f {
  transform: rotate(0deg);
  transition: transform var(--transition-time);
}
.anchor___1lC2j .links___1YFrr {
  max-height: calc(100vh - 200px);
  max-width: 300px;
  overflow: auto;
  padding: 10px;
  background: var(--background);
  transition: background var(--transition-time);
}
.anchor___1lC2j .links___1YFrr > div {
  width: 100%;
}
.anchor___1lC2j .links___1YFrr a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.anchor___1lC2j .links___1YFrr a,
.anchor___1lC2j .links___1YFrr a:hover,
.anchor___1lC2j .links___1YFrr a:active {
  color: var(--color);
  transition: color var(--transition-time);
}

.container___3tU2u {
  position: relative;
}
.container___3tU2u .button___DuVUu {
  position: absolute;
  font-size: 20px;
  color: white;
  text-shadow: 2.5px 2.5px 2.5px black;
  filter: drop-shadow(2.5px 2.5px 2.5px black);
  top: 10px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}
.container___3tU2u .carousel___62I7M {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-items: row;
}
.container___3tU2u .carousel___62I7M .images___1uAx2 {
  position: relative;
  transition: left var(--transition-time);
}
.container___3tU2u .nav___2J1NM {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
}
.container___3tU2u .nav___2J1NM .nav_item___3kznc {
  opacity: 0.5;
  transition: opacity var(--transition-time);
}
.container___3tU2u .nav___2J1NM .nav_item___3kznc.active___3qsbg,
.container___3tU2u .nav___2J1NM .nav_item___3kznc:hover {
  opacity: 1;
}

.post___2bvko .post-content {
  line-height: 2em;
  font-size: 1.1em;
}
.post___2bvko .post-content p {
  margin: 0;
  padding: 0.5em 0;
  overflow: auto;
}
.post___2bvko .post-content h1,
.post___2bvko .post-content h2,
.post___2bvko .post-content h3,
.post___2bvko .post-content h4,
.post___2bvko .post-content h5,
.post___2bvko .post-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bolder;
  line-height: 1.25;
  word-break: break-all;
  color: var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.post___2bvko .post-content h1::before,
.post___2bvko .post-content h2::before,
.post___2bvko .post-content h3::before,
.post___2bvko .post-content h4::before,
.post___2bvko .post-content h5::before,
.post___2bvko .post-content h6::before {
  content: '\A7';
  margin-right: 5px;
}
.post___2bvko .post-content h1 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--secondary);
  font-size: 2em;
}
.post___2bvko .post-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--secondary);
  font-size: 1.5em;
}
.post___2bvko .post-content h3 {
  font-size: 1.35em;
}
.post___2bvko .post-content h4 {
  font-size: 1.3em;
}
.post___2bvko .post-content h5 {
  font-size: 1.25em;
}
.post___2bvko .post-content h6 {
  font-size: 1.2em;
  color: 1px solid var(--secondary);
}
.post___2bvko .post-content .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.post___2bvko .post-content .image p,
.post___2bvko .post-content .image span {
  font-size: 0.8em;
  color: var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.post___2bvko .post-content .image img {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}
.post___2bvko .post-content .img-title {
  font-size: 0.8em;
  color: var(--color);
  transition: color var(--transition-time), border var(--transition-time);
  display: block;
  text-align: center;
}
.post___2bvko .post-content svg {
  margin: auto;
  display: block;
  max-width: 100% !important;
  height: auto !important;
  max-height: 75vh;
}
.post___2bvko .post-content .footnotes hr {
  display: none;
}
.post___2bvko .post-content dl dd {
  text-indent: 2em;
}
.post___2bvko .post-content dl dt {
  font-weight: bold;
}
.post___2bvko .post-content table {
  width: 100%;
  line-height: 1.5em;
  overflow: auto;
  display: block;
}
.post___2bvko .post-content table thead tr {
  font-weight: bold;
  border-bottom: 2.5px solid #e8e8e8;
}
.post___2bvko .post-content table thead tr th {
  padding: 10px;
}
.post___2bvko .post-content table thead tr th[align='left'] {
  text-align: left;
}
.post___2bvko .post-content table thead tr th[align='center'] {
  text-align: center;
}
.post___2bvko .post-content table thead tr th[align='right'] {
  text-align: right;
}
.post___2bvko .post-content table tbody tr {
  border-bottom: 1px solid #e8e8e8;
}
.post___2bvko .post-content table tbody tr td {
  padding: 10px;
}
.headimage {
  margin-top: 16px;
  display: flex;
}
.headimage img {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}
.center___1nFs5 .ant-col {
  text-align: center;
}
.ant-anchor-wrapper {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  font-weight: bold;
  width: 250px;
  top: 50px;
  z-index: 5;
  transition: right 1s ease 0s, top 0.2s ease;
  overflow: visible;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}
.ant-anchor-wrapper .button___1CVLD {
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  text-align: center;
  margin: 2px;
  left: -40px;
  position: absolute;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}
.ant-anchor-wrapper .anchors_content___39_DN {
  max-height: calc(100vh - 150px);
  overflow: auto;
}

