.root___3omUV {
  min-height: 100%;
  background: var(--background);
  transition: background var(--transition-time);
}
@keyframes dimmed-change___2Q6v6 {
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}
#root___3omUV {
  font-size: 15px;
}
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}
blockquote {
  padding: 0.5em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
code {
  background: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  border: 1px #ffaaaa dotted;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding: 0.2em 0.4em;
  margin: 0 0.5em;
  border-radius: 3px;
  word-break: break-all;
}
pre {
  background-color: #f6f8fa !important;
  padding: 10px;
  border-radius: 10px;
  max-height: 50vh;
  overflow: auto;
}
.dark code {
  background: #ff502c;
  color: #fff5f5;
}
.dark pre {
  background-color: #0a0806 !important;
}
details {
  border: black dashed 1px;
  padding: 0 10px;
}
.english {
  font-family: 'Times New Roman';
  font-style: italic;
  line-height: 1.25em;
}
.goldmark-python-error {
  white-space: pre;
  color: red;
  line-height: 1.2em;
  font-family: consolas;
}
a {
  word-break: break-all;
  text-decoration: none;
  transition: color var(--transition-time);
}
a,
a:active {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

.sider___3gkho {
  overflow-x: auto hidden;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.sider___3gkho .siderbar___9ueh6 {
  transition: background var(--transition-time), width var(--transition-time), box-shadow var(--transition-time), width var(--transition-time);
  width: 0px;
  height: 100vh;
  background: var(--background);
  overflow-x: hidden;
}
.sider___3gkho .siderbar___9ueh6 img {
  transition: transform var(--transition-time);
  -webkit-transition: 0.25s;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-transform 0.25s ease-out;
}
.sider___3gkho .siderbar___9ueh6 img:hover {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
}
.sider___3gkho .button_wrapper___3mJBZ {
  margin: 20px 5px 5px;
}
.sider___3gkho .menu___1Xw5P {
  width: 100%;
}
.sider___3gkho .menu___1Xw5P > div {
  transition: width var(--transition-time);
  width: 100%;
}
.sider___3gkho .menu___1Xw5P li {
  transition: padding-left var(--transition-time), text-align var(--transition-time), background var(--transition-time), border-right var(--transition-time);
  list-style: none;
  width: 100%;
  border-right: 0px;
  height: 2.5em;
  padding-top: 0.5em;
  padding-left: 25px;
  text-align: left;
}
.sider___3gkho .menu___1Xw5P li.active___3bYWb {
  border-right: 2px solid var(--primary);
  background: var(--primary-background);
}
.sider___3gkho .menu___1Xw5P li.active___3bYWb a {
  color: var(--primary);
}
.sider___3gkho .menu___1Xw5P li.active___3bYWb a:active {
  color: var(--primary);
}
.sider___3gkho .menu___1Xw5P li a {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.sider___3gkho .menu___1Xw5P li a:active {
  color: var(--secondary);
}
.sider___3gkho .menu___1Xw5P li a .prefix___1jZ1i {
  font-size: 1.25em;
  margin-right: 5px;
  transition: font-size var(--transition-time), margin-right var(--transition-time);
}
.sider___3gkho .menu___1Xw5P li a .text___22-tV {
  font-size: 1em;
  transition: font-size var(--transition-time);
}
.sider_collapsed___3gjZf .siderbar___9ueh6 .menu___1Xw5P li {
  padding-left: 0 !important;
  text-align: center !important;
}
.sider_collapsed___3gjZf .siderbar___9ueh6 .menu___1Xw5P li .prefix___1jZ1i {
  margin-right: 0 !important;
}
.sider_collapsed___3gjZf .siderbar___9ueh6 .menu___1Xw5P li .text___22-tV {
  font-size: 0 !important;
}
.sider_collapsed___3gjZf .siderbar___9ueh6 .menu___1Xw5P li.active___3bYWb {
  padding-left: 2px !important;
}
.divider___2ewKp .ant-divider-inner-text {
  padding: 5px 0;
}
.dimmed___2bpRI {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: dimmed-change___1hwkc 0.5s 1 alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
}

.fixed_button___h3tCI {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1;
}

.default {
  --color: black;
  --primary: #3f81ba;
  --primary-background: #e6f7ff;
  --secondary: #555;
  --link: #6699CC;
  --link-hover: #99CCFF;
  --background: #f1f2f6;
  --background-1: #fdfdfd;
  --shadow: rgba(100, 100, 100, 0.5);
  --shadow-white: white;
  --info-color: #2173db;
  --info-background: #e6f7ff;
  --success-color: #55a319;
  --success-background: #f6ffed;
  --warning-color: #9a8339;
  --warning-background: #fffbe6;
  --error-color: #d35246;
  --error-background: #fff2f0;
  --transition-time: 0.25s ease-in-out 0.1s;
  --transition: all var(--transition-time);
  transition: var(--transition);
  color: var(--color);
  background: var(--background);
}
.default.dark {
  --color: #f1f2f6;
  --background: #333;
  --background-1: #151515;
  --primary-background: #1b4153;
  --secondary: #aaa;
  --shadow: rgba(0, 0, 0, 0.5);
  --shadow-white: rgba(100, 100, 100, 0.5);
  --info-color: #e6f7ff;
  --info-background: #2173db;
  --success-color: #f6ffed;
  --success-background: #55a319;
  --warning-color: #fffbe6;
  --warning-background: #9a8339;
  --error-color: #fff2f0;
  --error-background: #d35246;
}

.timeline___1Ibns {
  display: grid;
  grid-template-columns: 100px 25px 1px auto;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}
.timeline___1Ibns .circle___3_a1Q {
  border: 2px solid var(--primary);
  transition: border var(--transition-time);
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background: white;
  z-index: 2;
}
.timeline___1Ibns .line___1ym_Y {
  border-right: 2px solid var(--primary);
  transition: border var(--transition-time);
  height: calc(100% + 20px);
  position: relative;
  left: -13px;
}
.timeline___1Ibns .time___3nmN4 {
  font-size: 13px;
}
.timeline___1Ibns .name___43H-D {
  font-size: 13px;
}

.drawer____4EL8 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  transition: background var(--transition-time);
  z-index: 99999;
  top: 0;
  left: 0;
}
.drawer____4EL8 .inner___3IW3D {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform var(--transition-time);
  z-index: 2;
  pointer-events: all;
}
.drawer____4EL8 .inner___3IW3D.left___3efFx {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.drawer____4EL8 .inner___3IW3D.right___394Cw {
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.drawer____4EL8 .inner___3IW3D.top___69IX_ {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.drawer____4EL8 .inner___3IW3D.bottom___34qGM {
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}
.drawer____4EL8 .dimmend___3VHSa {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.drawer____4EL8.show___MmOZs .dimmend___3VHSa {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.drawer____4EL8.show___MmOZs .inner___3IW3D.left___3efFx {
  transform: translateX(0);
}
.drawer____4EL8.show___MmOZs .inner___3IW3D.right___394Cw {
  transform: translateX(0);
}
.drawer____4EL8.show___MmOZs .inner___3IW3D.top___69IX_ {
  transform: translateY(0);
}
.drawer____4EL8.show___MmOZs .inner___3IW3D.bottom___34qGM {
  transform: translateY(0);
}

.comments___3Ugu2 .comment___2Yneg {
  width: 100%;
}
.comments___3Ugu2 hr {
  margin-left: -5em;
  border: none;
  border-top: 1px dashed var(--secondary);
  transition: border var(--transition-time);
}

.container___3tU2u {
  position: relative;
}
.container___3tU2u .button___DuVUu {
  position: absolute;
  font-size: 20px;
  color: white;
  text-shadow: 2.5px 2.5px 2.5px black;
  filter: drop-shadow(2.5px 2.5px 2.5px black);
  top: 10px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}
.container___3tU2u .carousel___62I7M {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-items: row;
}
.container___3tU2u .carousel___62I7M .images___1uAx2 {
  position: relative;
  transition: left var(--transition-time);
}
.container___3tU2u .nav___2J1NM {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
}
.container___3tU2u .nav___2J1NM .nav_item___3kznc {
  opacity: 0.5;
  transition: opacity var(--transition-time);
}
.container___3tU2u .nav___2J1NM .nav_item___3kznc.active___3qsbg,
.container___3tU2u .nav___2J1NM .nav_item___3kznc:hover {
  opacity: 1;
}

.post___2bvko .post-content {
  line-height: 2em;
  font-size: 1.1em;
  overflow-wrap: break-word;
}
.post___2bvko .post-content p {
  margin: 0;
  padding: 0.5em 0;
  overflow: auto;
}
.post___2bvko .post-content h1,
.post___2bvko .post-content h2,
.post___2bvko .post-content h3,
.post___2bvko .post-content h4,
.post___2bvko .post-content h5,
.post___2bvko .post-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bolder;
  line-height: 1.25;
  word-break: break-all;
  color: var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.post___2bvko .post-content h1::before,
.post___2bvko .post-content h2::before,
.post___2bvko .post-content h3::before,
.post___2bvko .post-content h4::before,
.post___2bvko .post-content h5::before,
.post___2bvko .post-content h6::before {
  content: '\A7';
  margin-right: 5px;
}
.post___2bvko .post-content h1 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--secondary);
  font-size: 2em;
}
.post___2bvko .post-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--secondary);
  font-size: 1.5em;
}
.post___2bvko .post-content h3 {
  font-size: 1.35em;
}
.post___2bvko .post-content h4 {
  font-size: 1.3em;
}
.post___2bvko .post-content h5 {
  font-size: 1.25em;
}
.post___2bvko .post-content h6 {
  font-size: 1.2em;
  color: 1px solid var(--secondary);
}
.post___2bvko .post-content .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.post___2bvko .post-content .image p,
.post___2bvko .post-content .image span {
  font-size: 0.8em;
  color: var(--secondary);
  transition: color var(--transition-time), border var(--transition-time);
}
.post___2bvko .post-content .image img {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}
.post___2bvko .post-content .img-title {
  font-size: 0.8em;
  color: var(--secondary);
  transition: color var(--transition-time), border var(--transition-time);
  display: block;
  text-align: center;
}
.post___2bvko .post-content svg {
  margin: auto;
  display: block;
  max-width: 100% !important;
  height: auto !important;
  max-height: 75vh;
}
.post___2bvko .post-content .footnotes hr {
  display: none;
}
.post___2bvko .post-content dl dd {
  text-indent: 2em;
}
.post___2bvko .post-content dl dt {
  font-weight: bold;
}
.post___2bvko .post-content .table_wrapper___MMrUx {
  width: 100%;
  overflow: auto;
  position: relative;
  white-space: nowrap;
}
.post___2bvko .post-content table {
  width: 100%;
}
.post___2bvko .post-content table thead tr {
  font-weight: bold;
  border-bottom: 2.5px solid #e8e8e8;
}
.post___2bvko .post-content table thead tr th {
  padding: 10px;
}
.post___2bvko .post-content table thead tr th[align='left'] {
  text-align: left;
}
.post___2bvko .post-content table thead tr th[align='center'] {
  text-align: center;
}
.post___2bvko .post-content table thead tr th[align='right'] {
  text-align: right;
}
.post___2bvko .post-content table tbody tr {
  border-bottom: 1px solid #e8e8e8;
}
.post___2bvko .post-content table tbody tr td {
  padding: 10px;
}

.anchor___1lC2j {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  right: 0;
  padding-right: 25px;
  top: 100px;
  width: fit-content;
  transition: opacity var(--transition-time), transform var(--transition-time);
  transform: translatex(100%);
  z-index: 2;
}
.anchor___1lC2j.show___1VrKH {
  opacity: 0.75;
  transform: translatex(0);
}
.anchor___1lC2j.show___1VrKH:hover {
  opacity: 1;
}
.anchor___1lC2j.show___1VrKH .button___20FoV .icon___3Dd2f {
  transform: rotate(180deg);
}
.anchor___1lC2j .button___20FoV {
  top: 15px;
  position: absolute;
  transform: translateX(-150%);
}
.anchor___1lC2j .button___20FoV .icon___3Dd2f {
  transform: rotate(0deg);
  transition: transform var(--transition-time);
}
.anchor___1lC2j .links___1YFrr {
  max-height: calc(100vh - 200px);
  max-width: 300px;
  overflow: auto;
  padding: 10px;
  background: var(--background);
  transition: background var(--transition-time);
}
.anchor___1lC2j .links___1YFrr > div {
  width: 100%;
}
.anchor___1lC2j .links___1YFrr a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.anchor___1lC2j .links___1YFrr a,
.anchor___1lC2j .links___1YFrr a:hover,
.anchor___1lC2j .links___1YFrr a:active {
  color: var(--color);
  transition: color var(--transition-time), font-weight var(--transition-time);
}
.anchor___1lC2j .links___1YFrr a.active___BTjbU,
.anchor___1lC2j .links___1YFrr a:hover.active___BTjbU,
.anchor___1lC2j .links___1YFrr a:active.active___BTjbU {
  color: var(--primary);
  font-weight: bold;
}

.tabs___1_P9i .nav___3c3vM {
  overflow-x: auto;
  font-weight: bold;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.tabs___1_P9i .nav___3c3vM .nav_item___3-7j1 {
  padding: 10px;
  color: var(--color);
  transition: color var(--transition-time), border-color var(--transition-time), font-weight var(--transition-time);
  cursor: pointer;
  flex: 0 0 auto;
}
.tabs___1_P9i .nav___3c3vM .nav_item___3-7j1.selected___1stnO {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.table___12eOH {
  width: 100%;
  position: relative;
}
.table___12eOH .loading___1nLmk {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-size: 128px;
  z-index: 2;
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
}
.table___12eOH .wrapper___3ExeE {
  overflow: auto;
}
.table___12eOH .wrapper___3ExeE.onloading___AIoYT {
  min-height: 512px;
}
.table___12eOH .wrapper___3ExeE.onloading___AIoYT table {
  filter: opacity(0.5);
}
.table___12eOH .wrapper___3ExeE table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.table___12eOH .wrapper___3ExeE table th,
.table___12eOH .wrapper___3ExeE table td {
  width: fit-content;
  padding: 10px;
}
.table___12eOH .wrapper___3ExeE table thead {
  border-bottom: 2px solid var(--secondary);
}
.table___12eOH .wrapper___3ExeE table tbody tr {
  border-top: 1px solid var(--secondary);
  transition: border var(--transition-time);
}
.table___12eOH .wrapper___3ExeE table tbody tr td .td___2NF7X {
  display: inline-block;
}
.table___12eOH .wrapper___3ExeE table tbody tr td .td___2NF7X.ellipsis___1s1Wl {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.table___12eOH .wrapper___3ExeE table .title___Yv70f {
  display: inline-flex;
}
.table___12eOH .wrapper___3ExeE table .title___Yv70f .sorter___cbJRv {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  justify-content: center;
  margin-left: 5px;
}
.table___12eOH .wrapper___3ExeE table .title___Yv70f .sorter_icon___3lt9T {
  color: var(--color);
  transition: color var(--transition-time);
  padding: 0;
  margin: 0;
}
.table___12eOH .prefix___7nxsk {
  transform: rotate(270deg);
  transition: transform var(--transition-time);
}
.table___12eOH .prefix___7nxsk.close___2bfwN {
  transform: rotate(180deg);
}

.collspase___2OEiI {
  width: 100%;
  border: 1px solid var(--secondary);
}
.collspase___2OEiI .title___1n4jn {
  cursor: pointer;
  min-height: 1em;
  padding: 10px;
  border-bottom: 1px solid transparent;
  transition: border var(--transition-time), background var(--transition-time);
  background: var(--background-1);
}
.collspase___2OEiI .title___1n4jn .prefix___3mSpg {
  margin-right: 10px;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform var(--transition-time);
}
.collspase___2OEiI .content___3pUms {
  max-height: 0px;
  overflow: hidden;
  transition: max-height var(--transition-time);
}
.collspase___2OEiI.open___20xUS .title___1n4jn {
  border-bottom: 1px solid var(--secondary);
}
.collspase___2OEiI.open___20xUS .title___1n4jn .prefix___3mSpg {
  transform: rotate(270deg);
}
.collspase___2OEiI.open___20xUS .content___3pUms {
  max-height: 100%;
}

.preview___2xSZ8 {
  height: calc(100vh - 60px) !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.fixed_button___1HG-g {
  position: fixed;
  right: 20px;
  top: 60px;
  width: auto;
  text-align: center;
}
#editor section > div {
  height: calc(100vh - 60px) !important;
}
#editor .monaco-editor,
#editor .monaco-editor .margin,
#editor .monaco-editor-background,
#editor .monaco-editor .inputarea.ime-input {
  background: var(--background) !important;
  transition: background var(--transition-time);
}

.timer___3qSH4 {
  text-align: center;
  font-size: 18px;
}
.timer___3qSH4 .title___2UG2R {
  font-weight: bold;
}
.timer___3qSH4 .time___3nSFy {
  text-align: center;
}

.list___8RJhM .ant-list-item {
  width: 100%;
  display: block;
}
.avatar___6P76- img {
  background: white;
}
.corner___37ihr {
  position: absolute;
  right: -40px;
  top: 20px;
  height: 2em;
  width: 150px;
  transform: rotateZ(45deg);
  color: white;
  background: orangered;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag___2wjD3 {
  display: block;
  position: relative;
}
.tag___2wjD3 span {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.5em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  border: 0.5px solid var(--background);
  border-radius: 100%;
  color: var(--background);
  background: var(--color);
  transition: color var(--transition-time), background var(--transition-time), border var(--transition-time);
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.75;
  font-weight: bold;
}

.list___1Jz_a {
  font-size: 1.25em;
  line-height: 2em;
  list-style-type: circle;
}
.list___1Jz_a li::not(:last-child) {
  margin-bottom: 10px;
}

