// https://juejin.im/post/6844903765527494663

.popover {
  --popover-backgroud: red;

  position: absolute;
  top: -99999px;
  left: -99999px;

  z-index: 10;

  transition: opacity var(--transition-time), visibility var(--transition-time),
    color var(--transition-time), background var(--transition-time),
    box-shadow var(--transition-time) !important;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.arrow::after {
    content: '';
    border: 5px solid transparent;
    position: absolute;
    z-index: 99;
    transition: border var(--transition-time);
  }

  &.arrow.top::after {
    border-top: 5px solid var(--popover-backgroud);
    bottom: -10px;
    left: calc(50% - 5px);
  }

  &.arrow.right::after {
    border-right: 5px solid var(--popover-backgroud);
    left: -10px;
    top: calc(50% - 5px);
  }

  &.arrow.left::after {
    border-left: 5px solid var(--popover-backgroud);
    right: -10px;
    top: calc(50% - 5px);
  }

  &.arrow.bottom::after {
    border-bottom: 5px solid var(--popover-backgroud);
    top: -10px;
    left: calc(50% - 5px);
  }

  &.card {
    --popover-backgroud: var(--background);
    background: var(--background);
    color: var(--color);
  }
}

.popover_origin {
  cursor: pointer;
}
