@import './vars.less';

.primary-color {
  color: @primary-color;
}

.text-color {
  color: @text-color;
}

.ant-tag-has-color a {
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.ant-btn-primary,
.ant-btn-danger,
.ant-switch-inner {
  color: white;
  &:hover {
    color: white;
  }
}
