.svg___3XNb- {
  width: 1em;
  height: 1em;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.button___lgX0P {
  display: inline-block;
  border: 0px;
  color: var(--primary);
  background: var(--background);
  outline: none;
  line-height: 1em;
  cursor: pointer;
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
}
.button___lgX0P:hover {
  color: var(--primary);
}
.button___lgX0P:active {
  color: var(--primary);
}
.button___lgX0P.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button___lgX0P .prefix___4rdfh {
  margin-right: 5px;
}
.button___lgX0P .suffix___205Uy {
  margin-left: 5px;
}
.danger___2X_ZL {
  color: var(--error-color);
  background: var(--error-background);
}
.danger___2X_ZL:hover {
  color: var(--error-color);
}
.danger___2X_ZL.primary___35G1w {
  color: var(--error-background);
  background: var(--error-color);
}
.danger___2X_ZL.primary___35G1w:hover {
  color: var(--error-background);
}
.primary___35G1w {
  color: white;
  background: var(--primary);
}
.primary___35G1w.icon___2SEON {
  color: white;
}
.primary___35G1w:hover {
  color: white;
}
.primary___35G1w:active {
  color: white;
}
.icon___2SEON {
  color: var(--primary);
}
.small___2NKVT {
  font-size: 0.75em;
  padding: 5px;
}
.middle___1Wbbx {
  font-size: 1em;
  padding: 7.5px;
}
.large___1jRjJ {
  font-size: 1.25em;
  padding: 10px;
}
.circle___2bbJ5 {
  border-radius: 100%;
}

.popover___GFWRd {
  --popover-backgroud: red;
  position: absolute;
  top: -99999px;
  left: -99999px;
  z-index: 10;
  transition: opacity 0.25s ease-in-out 0.1s, visibility 0.25s ease-in-out 0.1s;
  opacity: 0;
  visibility: hidden;
}
.popover___GFWRd.show___OL_73 {
  opacity: 1;
  visibility: visible;
}
.popover___GFWRd.arrow___GXieH::after {
  content: '';
  border: 5px solid transparent;
  position: absolute;
  z-index: 99;
}
.popover___GFWRd.arrow___GXieH.top___2nnJ_::after {
  border-top: 5px solid var(--popover-backgroud);
  bottom: -10px;
  left: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.right___3i0GD::after {
  border-right: 5px solid var(--popover-backgroud);
  left: -10px;
  top: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.left___cmruL::after {
  border-left: 5px solid var(--popover-backgroud);
  right: -10px;
  top: calc(50% - 5px);
}
.popover___GFWRd.arrow___GXieH.bottom___35Co4::after {
  border-bottom: 5px solid var(--popover-backgroud);
  top: -10px;
  left: calc(50% - 5px);
}
.popover___GFWRd.card___1yaqd {
  --popover-backgroud: var(--background);
  background: var(--background);
  color: var(--color);
  transition: color var(--transition-time) background var(--transition-time);
}
.popover_origin___3Y4uh {
  cursor: pointer;
}

.tooltip___3JDJV {
  color: white;
  background: black;
  --popover-backgroud: black;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 200px;
}

.color___2WBY8 {
  transition: color var(--transition-time);
  color: var(--color);
}
.color___2WBY8:hover {
  color: var(--color);
}
.color___2WBY8:active {
  color: var(--color);
}
.primary___a0AGn {
  transition: color var(--transition-time);
  color: var(--primary);
}
.primary___a0AGn:hover {
  color: var(--primary);
}
.primary___a0AGn:active {
  color: var(--primary);
}
.secondary___3qQjV {
  transition: color var(--transition-time);
  color: var(--secondary);
}
.secondary___3qQjV:hover {
  color: var(--secondary);
}
.secondary___3qQjV:active {
  color: var(--secondary);
}
.ellipsis___IDoKh {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.em75___3rJF8 {
  font-size: 0.75em;
}

.modal___1gOet {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dimmed___3KOL_ {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: dimmed-change___22gG- 0.5s 1 alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 3;
}

.wrapper___1bhZE {
  min-width: 10em;
  display: flex;
  align-items: center;
}
.wrapper___1bhZE.top___jPEA1 {
  flex-direction: column;
}
.wrapper___1bhZE.top___jPEA1 .label___g_H8T {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1bhZE.left___r_GUG {
  flex-direction: row;
}
.wrapper___1bhZE.left___r_GUG .label___g_H8T {
  margin-right: 5px;
}
.wrapper___1bhZE .label___g_H8T {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo {
  display: inline-grid;
  flex: 1 1 auto;
  width: 100%;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .prefix___1m70N {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .suffix___inZFY {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo.disabled {
  opacity: 0.5;
}
.wrapper___1bhZE .inner___2aaNo.disabled .select___1yw5M ul li {
  cursor: not-allowed;
}
.wrapper___1bhZE .hint___1xkfA {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM .inner___2aaNo .input___1wt3E {
  padding: 0px 10px;
}
.wrapper___1bhZE.middle___25bJf {
  font-size: 1em;
}
.wrapper___1bhZE.middle___25bJf .inner___2aaNo .input___1wt3E {
  padding: 5px 10px;
}
.wrapper___1bhZE.large___3rnHK {
  font-size: 1.25em;
}
.wrapper___1bhZE.large___3rnHK .inner___2aaNo .input___1wt3E {
  padding: 10 10px;
}
.wrapper___1bhZE .transform___2GmhC {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1bhZE .transform___2GmhC .transform_value___mmXMN {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper___1bhZE .transform___2GmhC .transform_icon___6VAG- {
  margin-left: 5px;
}
.select___1yw5M {
  z-index: 2;
  min-width: 10em;
}
.select___1yw5M ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}
.select___1yw5M ul li {
  cursor: pointer;
  padding: 10px;
}
.select___1yw5M ul li:hover {
  color: var(--background);
  background: var(--secondary);
}

.shadow___2_2YM {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___xe-ed {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2KFa- {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2KFa-.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___3v0Dz {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___3v0Dz.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___3tcHk {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.checkbox___CBQul {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox___CBQul .icon___3AVt0 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 0.5em;
  color: var(--primary);
  border: 1px solid var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.checkbox___CBQul .text___2O84Q {
  margin-left: 1.5em;
  display: inline;
}
.switch___3Fx-J {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 1em;
}
.switch___3Fx-J .icon___3AVt0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 20px);
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: auto;
  background: var(--primary);
  transition: background var(--transition-time), left var(--transition-time);
}
.switch___3Fx-J .text___2O84Q {
  margin-left: 0px;
  margin-right: 20px;
  transition: margin-left var(--transition-time), margin-right var(--transition-time);
}
.switch___3Fx-J.checked___aQGNW .icon___3AVt0 {
  left: 5px;
}
.switch___3Fx-J.checked___aQGNW .text___2O84Q {
  margin-left: 20px;
  margin-right: 0px;
}
.hint___2NQGe {
  margin-left: 1em;
  display: inline;
  font-size: 0.75em;
}

.wrapper___1-RAz {
  min-width: 10em;
  display: flex;
}
.wrapper___1-RAz.top___273ts {
  flex-direction: column;
  align-items: flex-start;
}
.wrapper___1-RAz.top___273ts .label___3aYtc {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1-RAz.left___2tTn4 {
  flex-direction: row;
  align-items: center;
}
.wrapper___1-RAz.left___2tTn4 .label___3aYtc {
  margin-right: 5px;
}
.wrapper___1-RAz .label___3aYtc {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1-RAz .inner___3AHwq {
  display: inline-grid;
  flex: 1 1 auto;
  width: 100%;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
  padding: 10px;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_value___1TUsg {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_icon___QsbLn {
  margin-left: 5px;
}
.wrapper___1-RAz .inner___3AHwq.disabled {
  opacity: 0.5;
}
.wrapper___1-RAz .inner___3AHwq.disabled .select___3hi0Z ul li {
  cursor: not-allowed;
}
.wrapper___1-RAz .hint___182Ts {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad .inner___3AHwq .input___3Lmks {
  padding: 0px 10px;
}
.wrapper___1-RAz.middle___3jGil {
  font-size: 1em;
}
.wrapper___1-RAz.middle___3jGil .inner___3AHwq .input___3Lmks {
  padding: 5px 10px;
}
.wrapper___1-RAz.large___3avEW {
  font-size: 1.25em;
}
.wrapper___1-RAz.large___3avEW .inner___3AHwq .input___3Lmks {
  padding: 10 10px;
}

.radio___6TGUQ .option___2L9fx {
  cursor: pointer;
}
.radio___6TGUQ .option___2L9fx input {
  cursor: pointer;
  margin-right: 5px;
}

.success___2zBUL {
  color: green;
}
.warning___1o2-T {
  color: orange;
}
.error___1H5JC {
  color: red;
}
.info___11PxR {
  color: var(--secondary);
  transition: color var(transition-time);
}

.notification___3x11h {
  padding: 15px;
  transition: color var(--transition-time), background var(--transition-time), border var(--transition-time);
  word-break: break-word;
}
.notification___3x11h .icon___3NiV4 {
  font-size: 2.5em;
  text-align: center;
}
.notification___3x11h .title___RbwtL {
  font-weight: bold;
}
.notification___3x11h.info___2lNOv {
  color: var(--info-color);
  border: 1px solid var(--info-color);
  background: var(--info-background);
}
.notification___3x11h.error___3gkOT {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  background: var(--error-background);
}
.notification___3x11h.warning___1PtXV {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
  background: var(--warning-background);
}
.notification___3x11h.success___2GtiD {
  color: var(--success-color);
  border: 1px solid var(--success-color);
  background: var(--success-background);
}

