.avatar___FhI1z {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  overflow: hidden;
  color: var(--color);
  transition: color var(--transition-time);
  position: relative;
}
.avatar___FhI1z img {
  width: 100%;
  height: 100%;
}
.avatar___FhI1z > :first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tag___CfNDX {
  height: 2em;
  overflow: hidden;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time) !important;
  width: fit-content;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-tooltip {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: absolute;
  z-index: 1060;
  display: block;
  max-width: 250px;
  visibility: visible;
}
.ant-tooltip-hidden {
  display: none;
}
.ant-tooltip-placement-top,
.ant-tooltip-placement-topLeft,
.ant-tooltip-placement-topRight {
  padding-bottom: 8px;
}
.ant-tooltip-placement-right,
.ant-tooltip-placement-rightTop,
.ant-tooltip-placement-rightBottom {
  padding-left: 8px;
}
.ant-tooltip-placement-bottom,
.ant-tooltip-placement-bottomLeft,
.ant-tooltip-placement-bottomRight {
  padding-top: 8px;
}
.ant-tooltip-placement-left,
.ant-tooltip-placement-leftTop,
.ant-tooltip-placement-leftBottom {
  padding-right: 8px;
}
.ant-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.ant-tooltip-arrow {
  position: absolute;
  display: block;
  width: 13.07106781px;
  height: 13.07106781px;
  overflow: hidden;
  background: transparent;
  pointer-events: none;
}
.ant-tooltip-arrow-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  content: '';
  pointer-events: auto;
}
.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
  bottom: -5.07106781px;
}
.ant-tooltip-placement-top .ant-tooltip-arrow-content,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow-content,
.ant-tooltip-placement-topRight .ant-tooltip-arrow-content {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-6.53553391px) rotate(45deg);
          transform: translateY(-6.53553391px) rotate(45deg);
}
.ant-tooltip-placement-top .ant-tooltip-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ant-tooltip-placement-topLeft .ant-tooltip-arrow {
  left: 13px;
}
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
  right: 13px;
}
.ant-tooltip-placement-right .ant-tooltip-arrow,
.ant-tooltip-placement-rightTop .ant-tooltip-arrow,
.ant-tooltip-placement-rightBottom .ant-tooltip-arrow {
  left: -5.07106781px;
}
.ant-tooltip-placement-right .ant-tooltip-arrow-content,
.ant-tooltip-placement-rightTop .ant-tooltip-arrow-content,
.ant-tooltip-placement-rightBottom .ant-tooltip-arrow-content {
  -webkit-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateX(6.53553391px) rotate(45deg);
          transform: translateX(6.53553391px) rotate(45deg);
}
.ant-tooltip-placement-right .ant-tooltip-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ant-tooltip-placement-rightTop .ant-tooltip-arrow {
  top: 5px;
}
.ant-tooltip-placement-rightBottom .ant-tooltip-arrow {
  bottom: 5px;
}
.ant-tooltip-placement-left .ant-tooltip-arrow,
.ant-tooltip-placement-leftTop .ant-tooltip-arrow,
.ant-tooltip-placement-leftBottom .ant-tooltip-arrow {
  right: -5.07106781px;
}
.ant-tooltip-placement-left .ant-tooltip-arrow-content,
.ant-tooltip-placement-leftTop .ant-tooltip-arrow-content,
.ant-tooltip-placement-leftBottom .ant-tooltip-arrow-content {
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateX(-6.53553391px) rotate(45deg);
          transform: translateX(-6.53553391px) rotate(45deg);
}
.ant-tooltip-placement-left .ant-tooltip-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ant-tooltip-placement-leftTop .ant-tooltip-arrow {
  top: 5px;
}
.ant-tooltip-placement-leftBottom .ant-tooltip-arrow {
  bottom: 5px;
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  top: -5.07106781px;
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow-content,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow-content,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow-content {
  -webkit-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(6.53553391px) rotate(45deg);
          transform: translateY(6.53553391px) rotate(45deg);
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow {
  left: 13px;
}
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  right: 13px;
}
.ant-tooltip-pink .ant-tooltip-inner {
  background-color: #eb2f96;
}
.ant-tooltip-pink .ant-tooltip-arrow-content {
  background-color: #eb2f96;
}
.ant-tooltip-magenta .ant-tooltip-inner {
  background-color: #eb2f96;
}
.ant-tooltip-magenta .ant-tooltip-arrow-content {
  background-color: #eb2f96;
}
.ant-tooltip-red .ant-tooltip-inner {
  background-color: #f5222d;
}
.ant-tooltip-red .ant-tooltip-arrow-content {
  background-color: #f5222d;
}
.ant-tooltip-volcano .ant-tooltip-inner {
  background-color: #fa541c;
}
.ant-tooltip-volcano .ant-tooltip-arrow-content {
  background-color: #fa541c;
}
.ant-tooltip-orange .ant-tooltip-inner {
  background-color: #fa8c16;
}
.ant-tooltip-orange .ant-tooltip-arrow-content {
  background-color: #fa8c16;
}
.ant-tooltip-yellow .ant-tooltip-inner {
  background-color: #fadb14;
}
.ant-tooltip-yellow .ant-tooltip-arrow-content {
  background-color: #fadb14;
}
.ant-tooltip-gold .ant-tooltip-inner {
  background-color: #faad14;
}
.ant-tooltip-gold .ant-tooltip-arrow-content {
  background-color: #faad14;
}
.ant-tooltip-cyan .ant-tooltip-inner {
  background-color: #13c2c2;
}
.ant-tooltip-cyan .ant-tooltip-arrow-content {
  background-color: #13c2c2;
}
.ant-tooltip-lime .ant-tooltip-inner {
  background-color: #a0d911;
}
.ant-tooltip-lime .ant-tooltip-arrow-content {
  background-color: #a0d911;
}
.ant-tooltip-green .ant-tooltip-inner {
  background-color: #52c41a;
}
.ant-tooltip-green .ant-tooltip-arrow-content {
  background-color: #52c41a;
}
.ant-tooltip-blue .ant-tooltip-inner {
  background-color: #1890ff;
}
.ant-tooltip-blue .ant-tooltip-arrow-content {
  background-color: #1890ff;
}
.ant-tooltip-geekblue .ant-tooltip-inner {
  background-color: #2f54eb;
}
.ant-tooltip-geekblue .ant-tooltip-arrow-content {
  background-color: #2f54eb;
}
.ant-tooltip-purple .ant-tooltip-inner {
  background-color: #722ed1;
}
.ant-tooltip-purple .ant-tooltip-arrow-content {
  background-color: #722ed1;
}
.ant-tooltip-rtl {
  direction: rtl;
}
.ant-tooltip-rtl .ant-tooltip-inner {
  text-align: right;
}

.wrapper___1bhZE {
  min-width: 10em;
  display: flex;
  align-items: center;
}
.wrapper___1bhZE.top___jPEA1 {
  flex-direction: column;
}
.wrapper___1bhZE.top___jPEA1 .label___g_H8T {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1bhZE.left___r_GUG {
  flex-direction: row;
}
.wrapper___1bhZE.left___r_GUG .label___g_H8T {
  margin-right: 5px;
}
.wrapper___1bhZE .label___g_H8T {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo {
  display: inline-grid;
  flex: 1 1 auto;
  width: 100%;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .prefix___1m70N {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E .suffix___inZFY {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: auto;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1bhZE .inner___2aaNo .input___1wt3E input::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1bhZE .inner___2aaNo.disabled {
  opacity: 0.5;
}
.wrapper___1bhZE .inner___2aaNo.disabled .select___1yw5M ul li {
  cursor: not-allowed;
}
.wrapper___1bhZE .hint___1xkfA {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM {
  font-size: 0.75em;
}
.wrapper___1bhZE.small___qG2QM .inner___2aaNo .input___1wt3E {
  padding: 0px 10px;
}
.wrapper___1bhZE.middle___25bJf {
  font-size: 1em;
}
.wrapper___1bhZE.middle___25bJf .inner___2aaNo .input___1wt3E {
  padding: 5px 10px;
}
.wrapper___1bhZE.large___3rnHK {
  font-size: 1.25em;
}
.wrapper___1bhZE.large___3rnHK .inner___2aaNo .input___1wt3E {
  padding: 10 10px;
}
.wrapper___1bhZE .transform___2GmhC {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1bhZE .transform___2GmhC .transform_value___mmXMN {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper___1bhZE .transform___2GmhC .transform_icon___6VAG- {
  margin-left: 5px;
}
.select___1yw5M {
  z-index: 2;
  min-width: 10em;
}
.select___1yw5M ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
}
.select___1yw5M ul li {
  cursor: pointer;
  padding: 10px;
}
.select___1yw5M ul li:hover {
  color: var(--background);
  background: var(--secondary);
}

.shadow___2_2YM {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:hover {
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow___2_2YM.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism___xe-ed {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:hover {
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism___xe-ed.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.shadow_light___2KFa- {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
}
.shadow_light___2KFa-.clickable___caS7f:active {
  box-shadow: 1px 1px 1px var(--shadow);
}
.neumorphism_light___3v0Dz {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
}
.neumorphism_light___3v0Dz.clickable___caS7f:active {
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.neumorphism_inset___3tcHk {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
.checkbox___CBQul {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox___CBQul .icon___3AVt0 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 0.5em;
  color: var(--primary);
  border: 1px solid var(--color);
  transition: color var(--transition-time), border var(--transition-time);
}
.checkbox___CBQul .text___2O84Q {
  margin-left: 1.5em;
  display: inline;
}
.switch___3Fx-J {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 1em;
}
.switch___3Fx-J .icon___3AVt0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - 20px);
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: auto;
  background: var(--primary);
  transition: background var(--transition-time), left var(--transition-time);
}
.switch___3Fx-J .text___2O84Q {
  margin-left: 0px;
  margin-right: 20px;
  transition: margin-left var(--transition-time), margin-right var(--transition-time);
}
.switch___3Fx-J.checked___aQGNW .icon___3AVt0 {
  left: 5px;
}
.switch___3Fx-J.checked___aQGNW .text___2O84Q {
  margin-left: 20px;
  margin-right: 0px;
}
.hint___2NQGe {
  margin-left: 1em;
  display: inline;
  font-size: 0.75em;
}

.wrapper___1-RAz {
  min-width: 10em;
  display: flex;
}
.wrapper___1-RAz.top___273ts {
  flex-direction: column;
  align-items: flex-start;
}
.wrapper___1-RAz.top___273ts .label___3aYtc {
  margin-left: 15px;
  margin-bottom: 5px;
}
.wrapper___1-RAz.left___2tTn4 {
  flex-direction: row;
  align-items: center;
}
.wrapper___1-RAz.left___2tTn4 .label___3aYtc {
  margin-right: 5px;
}
.wrapper___1-RAz .label___3aYtc {
  flex: 0 0 auto;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  margin-right: 10px;
}
.wrapper___1-RAz .inner___3AHwq {
  display: inline-grid;
  flex: 1 1 auto;
  width: 100%;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII {
  width: 100%;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time), box-shadow var(--transition-time);
  border-radius: 20px;
  position: relative;
  padding: 10px;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea {
  width: 100%;
  outline-style: none;
  border: none;
  background: transparent;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII textarea::placeholder {
  color: var(--secondary);
  transition: color var(--transition-time);
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_value___1TUsg {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper___1-RAz .inner___3AHwq .textarea___3JMII .transform___WR1Ox .transform_icon___QsbLn {
  margin-left: 5px;
}
.wrapper___1-RAz .inner___3AHwq.disabled {
  opacity: 0.5;
}
.wrapper___1-RAz .inner___3AHwq.disabled .select___3hi0Z ul li {
  cursor: not-allowed;
}
.wrapper___1-RAz .hint___182Ts {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad {
  font-size: 0.75em;
}
.wrapper___1-RAz.small___3z1ad .inner___3AHwq .input___3Lmks {
  padding: 0px 10px;
}
.wrapper___1-RAz.middle___3jGil {
  font-size: 1em;
}
.wrapper___1-RAz.middle___3jGil .inner___3AHwq .input___3Lmks {
  padding: 5px 10px;
}
.wrapper___1-RAz.large___3avEW {
  font-size: 1.25em;
}
.wrapper___1-RAz.large___3avEW .inner___3AHwq .input___3Lmks {
  padding: 10 10px;
}

.radio___6TGUQ .option___2L9fx {
  cursor: pointer;
}
.radio___6TGUQ .option___2L9fx input {
  cursor: pointer;
  margin-right: 5px;
}

.success___2zBUL {
  color: green;
}
.warning___1o2-T {
  color: orange;
}
.error___1H5JC {
  color: red;
}
.info___11PxR {
  color: var(--secondary);
  transition: color var(transition-time);
}

