.tag {
  height: 2em;
  overflow: hidden;
  color: var(--color);
  background: var(--background);
  transition: color var(--transition-time), background var(--transition-time),
    box-shadow var(--transition-time) !important;
  width: fit-content;
}
