@font-face {
  font-family: 'shetumodengxiaofangti';
  font-display: swap;
  src: url('//static.oyohyee.com/font/shetumodengxiaofangti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// bitter 英文字体
@font-face {
  font-family: 'bitter';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/OhYee/cdn@master/font/bitter.woff') format('woff');
}

// 鸿蒙字体
@font-face {
  font-family: 'harmony';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/OhYee/cdn@master/font/harmony.woff2') format('woff2');
}

// 阿里巴巴普惠体
@font-face {
  font-family: 'alibabapuhuiti';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_6u7eiz3v8pq.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}   

:root, body {
  font-size: 15px;
  font-family: var(--default-font);
  tab-size: 4;
}

hr {
  border: none;
  border-bottom: 3px var(--secondary) dashed;
  transition: border var(--transition-time);
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

blockquote {
  padding: 0.5em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

:not(pre) > code {
  font-family: var(--code-font);
  color: var(--code-color);
  background: var(--code-background);
  border: var(--code-border);
  transition: color var(--transition-time), background-color var(--transition-time),
    border var(--transition-time);
  font-size: 0.85em;
  padding: 0.1em 0.4em;
  margin: 0 0.25em;
  border-radius: 3px;
  word-break: break-all;
}

pre {
  padding: 10px;
  border-radius: 3px;
  max-height: 50vh;
  overflow: auto;
  line-height: 1.5em;
  font-family: var(--code-font);
  font-size: 0.85em;
  font-family: var(--code-font);
  color: var(--code-fence-color);
  background: var(--code-fence-background) !important;
  border: var(--code-fence-border);
  transition: color var(--transition-time), background-color var(--transition-time),
    border var(--transition-time);
}

.dark {
}

kbd {
  background: linear-gradient(180deg, #eee, #fff);
  color: black;
  background-color: #eee;
  border: 1px solid #cdd5d7;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px #cdd5d7;
  font-family: Consolas, 'Liberation Mono', courier, monospace;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  margin: 3px;
  padding: 4px 6px;
  white-space: nowrap;
}

a {
  word-break: break-all;
  text-decoration: none;
  transition: color var(--transition-time);
  &,
  &:active {
    color: var(--link);
  }
  &:hover {
    color: var(--link-hover);
  }
}

b,
strong {
  font-weight: bolder;
  margin: 0 0.25em;
}
