:root {
  font-size: 15px;
  font-family: var(--default-font);
  tab-size: 4;
}

hr {
  border: none;
  border-bottom: 3px var(--secondary) dashed;
  transition: border var(--transition-time);
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

blockquote {
  padding: 0.5em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

:not(pre) > code {
  font-family: var(--code-font);
  color: var(--code-color);
  background: var(--code-background);
  border: var(--code-border);
  transition: color var(--transition-time), background-color var(--transition-time),
    border var(--transition-time);
  font-size: 0.85em;
  padding: 0.1em 0.4em;
  margin: 0 0.25em;
  border-radius: 3px;
  word-break: break-all;
}

pre {
  padding: 10px;
  border-radius: 3px;
  max-height: 50vh;
  overflow: auto;
  line-height: 1.5em;
  font-family: var(--code-font);
  font-size: 0.85em;
  font-family: var(--code-font);
  color: var(--code-fence-color);
  background: var(--code-fence-background) !important;
  border: var(--code-fence-border);
  transition: color var(--transition-time), background-color var(--transition-time),
    border var(--transition-time);
}

.dark {
}

a {
  word-break: break-all;
  text-decoration: none;
  transition: color var(--transition-time);
  &,
  &:active {
    color: var(--link);
  }
  &:hover {
    color: var(--link-hover);
  }
}

b,
strong {
  font-weight: bolder;
  margin: 0 0.25em;
}
