:root {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

blockquote {
  padding: 0.5em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

code {
  background: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  border: 1px #ffaaaa dotted;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding: 0.2em 0.4em;
  margin: 0 0.5em;
  border-radius: 3px;
  word-break: break-all;
}

pre {
  background-color: #f6f8fa !important;
  padding: 10px;
  border-radius: 10px;
  max-height: 50vh;
  overflow: auto;
}

.dark {
  code {
    background: #ff502c;
    color: #fff5f5;
  }
  pre {
    background-color: #0a0806 !important;
  }
}
details {
  border: black dashed 1px;
  padding: 0 10px;
}

.english {
  font-family: 'Times New Roman';
  font-style: italic;
  line-height: 1.25em;
}

.goldmark-python-error {
  white-space: pre;
  color: red;
  line-height: 1.2em;
  font-family: consolas;
}

a {
  word-break: break-all;
  text-decoration: none;
  transition: color var(--transition-time);
  &,
  &:active {
    color: var(--link);
  }
  &:hover {
    color: var(--link-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}
