.shadow {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow);
  &.clickable {
    &:hover {
      box-shadow: 2.5px 2.5px 5px var(--shadow);
    }
    &:active {
      box-shadow: 1px 1px 1px var(--shadow);
    }
  }
}

.neumorphism {
  transition: box-shadow var(--transition-time);
  box-shadow: 5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow-white);
  &.clickable {
    &:hover {
      box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
    }
    &:active {
      box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
    }
  }
}

.shadow_light {
  transition: box-shadow var(--transition-time);
  box-shadow: 2.5px 2.5px 5px var(--shadow);
  &.clickable {
    &:active {
      box-shadow: 1px 1px 1px var(--shadow);
    }
  }
}

.neumorphism_light {
  transition: box-shadow var(--transition-time);
  box-shadow: 1px 1px 2px var(--shadow), -1px -1px 2px var(--shadow-white);
  &.clickable {
    &:active {
      box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
    }
  }
}

.neumorphism_inset {
  transition: box-shadow var(--transition-time);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow-white);
}
