.default {
  --color: black; // 页面前景色（文字颜色）
  --primary: #3579bd; // 主题色，用于按钮等位置
  --primary-background: #e6f7ff; // 略浅的主题色（侧边栏选中背景色）
  --secondary: #555; // 页面次要颜色，略淡的文字（提示、副标题）
  --link: #2468ac; // 超链接颜色
  --link-hover: #468ace; // 超链接悬浮颜色
  --post-link: #df579b; // 超链接颜色
  --post-link-hover: #ff88cc; // 超链接颜色
  --background: white; //#f1f2f6; // 页面背景色（背景颜色）
  --background-1: #fdfdfd; // 次要背景色（用于区分区域）

  --code-color: #ff502c; // 行内代码前景色
  --code-background: #fff5f5; // 行内代码背景
  --code-border: 1px #ffaaaa dotted; // 行内代码边框
  --code-fence-color: black; // 段代码前景
  --code-fence-background: #f8f8f8; // 段代码背景
  --code-fence-border: 1px #e7eaed solid; // 段代码边框

  --shadow: rgba(100, 100, 100, 0.3); // 阴影颜色
  --shadow-white: rgba(255, 255, 255, 0.75); // 白色阴影

  --info-color: #2173db; // 提醒（信息）颜色
  --info-background: #e6f7ff; // 提醒（信息）背景
  --success-color: #55a319; // 提醒（成功）颜色
  --success-background: #f6ffed; // 提醒（成功）背景
  --warning-color: #9a8339; // 提醒（警告）颜色
  --warning-background: #fffbe6; // 提醒（警告）背景
  --error-color: #d35246; // 提醒（错误）颜色
  --error-background: #fff2f0; // 提醒（错误）背景

  --transition-time: 0.25s ease-in-out 0.1s; // 动画时间
  --transition: all var(--transition-time); // 动画配置

  --default-font: bitter, harmony, alibabapuhuiti, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --code-font: 'Lucida Console', Consolas, 'Courier', monospace, 'SFMono-Regular', 'Liberation Mono',
    Menlo, Monaco, 'Andale Mono', 'Courier New';

  transition: var(--transition);
  color: var(--color);
  background: var(--background);

  &.dark {
    --color: #b8bfc6; //#f1f2f6;
    --background: #363b40; //#333;
    --background-1: #151515;
    --primary-background: #1b4153;
    --secondary: #aaa;
    --shadow: rgba(0, 0, 0, 0.5);
    --shadow-white: rgba(100, 100, 100, 0.5);
    --info-color: #e6f7ff;
    --info-background: #2173db;
    --success-color: #f6ffed;
    --success-background: #55a319;
    --warning-color: #fffbe6;
    --warning-background: #9a8339;
    --error-color: #fff2f0;
    --error-background: #d35246;

    --link: #579bdf;
    --link-hover: #79bdff;

    --code-color: b8bfc6; // 行内代码前景色
    --code-background: #565656; // 行内代码背景
    --code-border: 1px #b8bfc6 dotted; // 行内代码边框
    --code-fence-color: #b8bfc6; // 段代码前景
    --code-fence-background: #333; // 段代码背景
    --code-fence-border: 1px transparent solid; // 段代码边框
  }
}
